target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/architecture-catalog/
!**/src/main/resources/config-repo/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Log files ###
*.log

### OS Files ###
.DS_Store
Thumbs.db
